* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Helvetica", sans-serif;
}

body.about {
    background-image: url(https://github.com/JohnyWuijtsSL/Johny-SD1A-Repo/blob/main/3%20Periode%203/Software%20Development/Website/images/emma-bg.png?raw=true);
    background-color: #48A;
    background-size: 1920px auto;
    background-position-y: 0%;
    background-position-x: 25%;
}

body.services {
    background-image: url(https://github.com/JohnyWuijtsSL/Johny-SD1A-Repo/blob/main/3%20Periode%203/Software%20Development/Website/images/wood-bg.jpg?raw=true);
    background-color: #C74;
    background-size: 1920px auto;
    background-position-y: 0%;
    background-position-x: 25%;
}

body.contact {
    background-image: url(https://github.com/JohnyWuijtsSL/Johny-SD1A-Repo/blob/main/3%20Periode%203/Software%20Development/Website/images/paper-bg.jpg?raw=true);
    background-color: #CCC;
    background-size: 1920px auto;
    background-position-y: 0%;
    background-position-x: 25%;
}


header {
    background-color: #A2A;
    background-image: url(https://github.com/JohnyWuijtsSL/Johny-SD1A-Repo/blob/main/3%20Periode%203/Software%20Development/Website/images/poison-landscape.png?raw=true);
    background-size: 100% auto;
    background-position-y: 65%;
    position: fixed;
    top: 0;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    z-index: 10;
}

li {
    font-size: 1em;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

ul {
    background-image: url(https://github.com/JohnyWuijtsSL/Johny-SD1A-Repo/blob/main/3%20Periode%203/Software%20Development/Website/images/poison-landscape.png?raw=true);
    background-size: 200% auto;
    background-position-y: 23%;
    background-position-x: 25%;
    position: fixed;
    top: 75px;
    background-color: #FCF;
    display: flex;
    z-index: 10;
}

li.selected {
    background-color: #fff6;
}

    li.selected:hover {
        background-color: #fff6;
    }

li:hover {
    background-color: #fff3;
}

div.text-block {
    position: relative;
    background-color: #9298;
    top: 250px;
    padding: 25px;
    border-radius: 25px;
    display: inline-block;
    margin-left: 25%;
}


a.google-button {
    background-image: url(https://github.com/JohnyWuijtsSL/Johny-SD1A-Repo/blob/main/3%20Periode%203/Software%20Development/Website/images/splinter-button.jpg?raw=true);
    background-color: #DCB;
    background-size: 200% auto;
    top: 50%;
    padding: 50px;
    border-radius: 25px;
    display: inline-block;
    left: 50%;
    position: absolute;
    margin-left: -300px;
    margin-top: -134px;
}

    a.google-button:hover {
        background-image: url(https://github.com/JohnyWuijtsSL/Johny-SD1A-Repo/blob/main/3%20Periode%203/Software%20Development/Website/images/splinter-button-hover.jpg?raw=true);
        background-color: #EDC;
    }

    h1 {
        text-align: center;
    }

    p {
        margin: 1em;
    }

    th {
        border: 2px solid black;
        padding: .2em;
    }

    td {
      border: 1px solid black;
      padding: .2em;
    }

table {
    margin-top: -1em;
    margin-left: 1em;
    margin-right: 1em;
}

div.text-block img {
    border-radius: 50px;
    margin-top: -.5em;
    margin-left: 1em;
}

.yt {
    width: 256px;
    height: 256px;
    background-image: url(https://github.com/JohnyWuijtsSL/Johny-SD1A-Repo/blob/main/3%20Periode%203/Software%20Development/Website/images/youtube-logo.png?raw=true);
}

div.social-media {
    margin-top: 200px;
}